header
{
	width: 100%;
	background: url("../img/bg_header.jpg") no-repeat top center;
	padding-bottom: 8rem;

	nav
	{
		color: #FFF;
		text-shadow: 2px 2px 2px black;
		background-color: rgba(157, 188, 123, 0.5); 
		display: flex;
		justify-content: flex-end;
		padding: 0.5rem 5rem;

		ul
		{
			display: flex;
			width: 50%;
			justify-content: space-around;
		}
	}

	.logo
	{
		padding-left: 3rem;
		z-index: 30;
	}
}